<?xml version="1.0"?>
<configuration> 
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScientificInterface.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScientificInterface.Settings>
            <setting name="LastSelectedDirectory" serializeAs="String">
                <value>My.Computer.FileSystem.SpecialDirectories.MyDocuments</value>
            </setting>
            <setting name="MdbRecentlyUsedList" serializeAs="Xml">
                <value>
                    <ArrayOfAnyType xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <anyType />
                    </ArrayOfAnyType>
                </value>
            </setting>
            <setting name="SettingLoaded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColorESPressureText" serializeAs="String">
                <value>ForestGreen</value>
            </setting>
            <setting name="ColorComputedValuesText" serializeAs="String">
                <value>0, 0, 244</value>
            </setting>
            <setting name="ColorErrorText" serializeAs="String">
                <value>Firebrick</value>
            </setting>
            <setting name="ColorFailedValidationText" serializeAs="String">
                <value>DarkGoldenrod</value>
            </setting>
            <setting name="ColorFailedResultText" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ColorDefaultText" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ColorNameText" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ColorESProfitsText" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="ColorESTotalCatchText" serializeAs="String">
                <value>MediumSeaGreen</value>
            </setting>
            <setting name="ColorTrophicLinkText" serializeAs="String">
                <value>LavenderBlush</value>
            </setting>
            <setting name="ColorRemarksBackground" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ColorSumBackground" serializeAs="String">
                <value>255, 254, 225</value>
            </setting>
            <setting name="ColorReadOnlyBackground" serializeAs="String">
                <value>231, 235, 250</value>
            </setting>
            <setting name="ColorCheckedBackground" serializeAs="String">
                <value>176, 233, 173</value>
            </setting>
            <setting name="ColorMissingParamBackground" serializeAs="String">
                <value>MediumPurple</value>
            </setting>
            <setting name="ColorImageBackground" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ColorPlotsBackground" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ColorMapBackground" serializeAs="String">
                <value>ControlDark</value>
            </setting>
            <setting name="ColorDefaultBackground" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ColorNameBackground" serializeAs="String">
                <value>232, 232, 232</value>
            </setting>
            <setting name="StatusMaxMessages" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="FontTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="FontLegend" serializeAs="String">
                <value />
            </setting>
            <setting name="FontSubtitle" serializeAs="String">
                <value />
            </setting>
            <setting name="FontScale" serializeAs="String">
                <value />
            </setting>
            <setting name="FontValue" serializeAs="String">
                <value />
            </setting>
            <setting name="ThumbnailSize" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="ShowLegends" serializeAs="String">
                <value>UseDefault</value>
            </setting>
            <setting name="UseTransparentBackgrounds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MdbRecentlyUsedCount" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="SuppressedOverwritePrompts" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoUpdatePlugins" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PresentationModeHideModelBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PresentationModeHideMainMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PresentationModeHideStatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PresentationModeCollapseNavPanel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StatusShowTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupFileMask" serializeAs="String">
                <value>{MyDocuments}\EwE6 backup\{ModelFile}_{Date}-{Time}.{ModelExt}</value>
            </setting>
            <setting name="OutputPathMask" serializeAs="String">
                <value>{MyDocuments}\EwE6 output\{ModelFile}\</value>
            </setting>
        </ScientificInterface.Settings>
    </userSettings>
</configuration>
